.Primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  width: 100px;
  height: 30px;
  margin-right: 10px;
}
.Default {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}
.Dashed {
  background-color: turquoise;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  border: 1px dashed black;
}
.Text {
  background-color: white;
  border: none;
  width: 100px;
  height: 30px;
  margin-right: 10px;
}
.Link {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  color: #007bff;
  background-color: white;
  border: none;
}
